{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="192F0BE9A42D9C8DB5036713CF639E56" />
    <meta name="google-site-verification" content="5-PtLlhvPPzDcnmunydJOcMQIo8EmEoSNdp9nCeRiRU" />
    <meta name="description" content="Use FreeTaxUSA 2024 to file federal taxes online for free. Enjoy fast filing, secure access, and accurate tax returns. Start now and file with confidence." />
    <meta name="keywords" content="FreeTaxUSA 2024, file taxes free, federal tax return, online tax filing, free online tax software, FreeTaxUSA login, FreeTaxUSA accuracy" />
    <meta name="robots" content="index, follow" />

    {{ super() }}
{% endblock %}
